// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.social-btn {
    position: absolute;
    top: 150px;
    left: 20px;
    color: #004996;
    border: none;
    height: 40px;
    padding: 5 5 5 5;
    width: 100px;
    text-align: center;
 
    
}

